/* NEW STYLE */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: bold; }

/* default font size */
.fa {
  font-size: 14px; }

/* Override the bootstrap defaults */
h1 {
  margin-top: 55px;
  font-size: 30px; }

h2 {
  font-size: 27px; }

h3 {
  margin-top: 45px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2; }

h4 {
  font-size: 14px;
  line-height: 1.3; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10.2px; }

a {
  color: #4b4842; }

a:hover {
  text-decoration: none; }

a:focus,
button:focus {
  outline: none;
  color: #4b4842; }

hr {
  margin: 0;
  border-top-color: #fadad0; }

legend {
  font-size: 18px;
  padding: 7px 0px; }

label {
  font-size: 12px;
  font-weight: normal; }

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
  font-size: 12px; }

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
  font-size: 12px; }

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px; }

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline; }

.nav-tabs {
  margin-bottom: 15px; }

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.owl-carousel {
  margin: 50px 0; }

.owl-wrapper-outer {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-dark {
  background: #4b4842; }

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

/* header */
header {
  margin-bottom: 0; }

.navbar {
  margin-bottom: 0; }

.header-phones--more-info {
  background: #fff8f2;
  padding-top: 24px; }

.header-phones {
  padding-left: 0;
  list-style: none;
  column-count: 2; }
  .header-phones > li {
    font-size: 18px;
    line-height: 1.3; }

.more-info {
  font-size: 14px;
  line-height: 1.2; }

.call-back,
.cooperation-link {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  color: #f4746c;
  border-bottom: 1px solid #f4746c; }
  .call-back:hover, .call-back:focus,
  .cooperation-link:hover,
  .cooperation-link:focus {
    color: #f4746c;
    border-color: transparent; }

/* call back modal */
.modal-header {
  background: #fef7f2;
  border-bottom: 1px solid #fce3db; }

.modal-body {
  padding: 15px 0 0 0; }
  .modal-body input {
    border-color: #706d68; }
  .modal-body label {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    color: #4b4842; }

.modal-title {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 1.2;
  color: #f28367;
  text-transform: uppercase; }

.modal-content {
  border-radius: 0; }

.modal-footer {
  background: #fef7f2;
  padding: 15px 15px 0 15px;
  border-top: 1px solid #fce3db;
  text-align: center; }
  .modal-footer button {
    background: #f28367;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #4b4842; }
    .modal-footer button:hover {
      background: #f28367;
      color: #ccc; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 465px;
    margin: 30px auto; } }
/* top */
#top {
  background: url("../image/cart_line_bg.jpg") top center repeat-y;
  padding: 0;
  margin: 0;
  min-height: 60px; }

#top .container {
  padding: 0 15px; }

#top .list-inline {
  display: inline; }

#top .list-inline > li {
  height: 19px;
  margin-top: 15px;
  padding-right: 5px; }

#top .list-inline > li:nth-child(2)::after {
  position: relative;
  top: -2px;
  right: -5px;
  display: inline-block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff; }

#top .list-inline > li > a {
  display: inline-block;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  border-bottom: 1px solid; }

#top .list-inline > li > a.menu-hamburger {
  background: url("../image/icon-dropdown-toggle.png") no-repeat center;
  display: block;
  width: 16px;
  height: 30px;
  color: #fff;
  border-bottom: none; }

.dropdown-menu {
  background: #fef7f2;
  padding: 15px 0;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
  border: none;
  border-radius: 0; }
  .dropdown-menu > li {
    padding: 5px 20px; }
    .dropdown-menu > li > a {
      display: inline;
      padding: 0;
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 1.2;
      color: #4a4741;
      border-bottom: 1px solid #4a4741; }
      .dropdown-menu > li > a:hover {
        background: transparent;
        color: #4a4741;
        border: none; }

.time-working {
  margin: 15px 0;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  color: #fff; }
  .time-working span {
    display: block; }

.account {
  background: url("../image/ico_login.svg") no-repeat left center;
  -webkit-background-size: 30px;
  background-size: 30px;
  display: block;
  text-align: right;
  height: 30px;
  margin: 15px auto;
  line-height: 30px;
  color: #fff; }
  .account:hover, .account:focus {
    color: #ccc; }

#top .list-inline .dropdown-menu {
  left: 15px; }

#top #currency .currency-select {
  text-align: left; }

#top #currency .currency-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

#top .btn-link, #top-links li, #top-links a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none; }

#top .btn-link:hover, #top-links a:hover {
  color: #444; }

#top-links .dropdown-menu a {
  text-shadow: none; }

#top-links .dropdown-menu a:hover {
  color: #FFF; }

#top .btn-link strong {
  font-size: 14px;
  line-height: 14px; }

#top-links {
  padding-top: 6px; }

#top-links a + a {
  margin-left: 15px; }

/* menu */
.navbar-nav > li > a {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff; }

#header-bottom {
  background: url("../image/logo_line_bg.jpg") top center repeat-y; }

/* logo */
#logo {
  margin: 0;
  padding-top: 30px; }

.logo a span, .logo span span {
  position: relative;
  top: -25px;
  line-height: 1;
  left: 105px;
  width: 200px;
  display: inline-block;
  font-size: 14px;
  line-height: 12px;
  color: #fff; }

/* menu */
#menu {
  background: url("../image/hd_peach.jpg") center;
  min-height: 40px;
  border-radius: 0; }

#menu .nav > li > a {
  color: #fff;
  text-shadow: none;
  padding: 30px 15px;
  min-height: 15px;
  background-color: transparent; }

#menu .nav > li > a:hover, #menu .nav > li.open > a {
  background-color: rgba(0, 0, 0, 0.1); }

#menu .dropdown-menu {
  padding-bottom: 0; }

#menu .dropdown-inner {
  display: table; }

#menu .dropdown-inner ul {
  display: table-cell; }

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px; }

#menu .dropdown-inner li a:hover {
  color: #FFFFFF; }

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #DDD;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px; }

#menu .see-all:hover, #menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

#menu #category {
  float: left;
  padding-left: 15px;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 60px;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase; }

#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #FFF;
  padding: 2px 18px;
  float: right;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a; }

#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #229ac8; }

@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block; } }
@media (max-width: 767px) {
  #menu {
    border-radius: 4px; }

  #menu div.dropdown-inner > ul.list-unstyled {
    display: block; }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1); }

  #menu .dropdown-inner {
    display: block; }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff; }

  #menu .dropdown-menu a:hover,
  #menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1); }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff; } }
.container > .navbar-collapse {
  position: relative;
  padding: 0; }

.navbar {
  border-radius: 0; }

.nav.navbar-nav {
  padding-right: 50px; }

/* search */
#search {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  margin-top: -12px;
  width: 24px; }

#search .input-lg {
  display: none;
  height: 40px;
  line-height: 20px;
  padding: 0 10px; }

#search .btn-lg {
  width: 24px;
  height: 24px;
  background: url("../image/ico_search.svg") no-repeat center;
  -webkit-background-size: 24px;
  background-size: 24px;
  border: none;
  font-size: 15px;
  line-height: 18px;
  padding: 10px 0;
  text-shadow: none; }
  #search .btn-lg:focus {
    outline: none; }

/* category-menu */
.category-menu__item {
  position: relative;
  border-radius: 3px;
  opacity: 1; }

.category-menu__item:hover .category-menu__img {
  opacity: .7;
  opacity: .7; }

.category-menu__link {
  display: block; }

.category-menu__label {
  background: #f28367;
  position: absolute;
  bottom: 40px;
  display: block;
  padding: 15px 15px 15px 20px;
  font-size: 14px;
  line-height: 1.2;
  color: #3e372b;
  border-radius: 0 3px 3px 0; }

.category-menu__label > span {
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase; }

.category-menu__label > strong {
  font-weight: bold; }

/* cart */
#cart {
  margin-bottom: 0; }

.cart {
  background: #fff;
  min-height: 60px;
  padding: 0; }

#cart > a {
  background: url("../image/icon-cart-dark.png") no-repeat 35px center #fff;
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: red;
  width: 100%;
  min-height: 60px;
  border-radius: 0;
  border: none;
  text-align: left; }
  #cart > a .count {
    background: #f28666;
    display: inline-block;
    border-radius: 40%;
    margin: 20px 25px 20px 20px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff; }

#cart-total {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #3e372b; }

#cart.open > .btn {
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #666;
  box-shadow: none;
  text-shadow: none; }

#cart.open > .btn:hover {
  color: #444; }

#cart .dropdown-menu {
  background: #eee;
  z-index: 1001; }

#cart .dropdown-menu {
  min-width: 100%; }

@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%; } }
#cart .dropdown-menu table {
  margin-bottom: 10px; }

#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px; }

@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%; } }
#cart .dropdown-menu li p {
  margin: 20px 0; }

/* product list */
.b-prod {
  position: relative;
  padding-bottom: 40px;
  border: none;
  margin-bottom: 0;
  overflow: auto; }

.b-prod__footer {
  position: absolute;
  bottom: 0; }

.pay {
  text-decoration: none;
  border: 1px solid #000;
  display: inline-block; }

.b-prod .image {
  text-align: center; }

.b-prod .image a {
  display: block; }

.b-prod .image a:hover {
  opacity: 0.8; }

.b-prod .image img {
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.product-grid .b-prod .image {
  float: none; }

@media (min-width: 767px) {
  .product-list .b-prod .image {
    float: left;
    padding: 0 15px; } }
.b-prod h4 {
  font-weight: bold;
  text-transform: uppercase; }

.b-prod .caption {
  padding: 0;
  min-height: 30px; }

.product-list .b-prod .caption {
  margin-left: 230px; }

@media (max-width: 1200px) {
  .product-grid .b-prod .caption {
    min-height: 30px;
    padding: 0; } }
@media (max-width: 767px) {
  .product-list .b-prod .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0; }

  .product-grid .b-prod .caption {
    min-height: 0; } }
.b-prod .rating {
  padding-bottom: 10px; }

.rating .fa-stack {
  font-size: 8px; }

.rating .fa-star-o {
  color: #999;
  font-size: 15px; }

.rating .fa-star {
  color: #FC0;
  font-size: 15px; }

.rating .fa-star + .fa-star-o {
  color: #E69500; }

h2.price {
  margin: 0; }

.b-prod .price {
  color: #444; }

.b-prod .price-new {
  font-weight: 600; }

.b-prod .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px; }

.b-prod .price-tax {
  color: #999;
  font-size: 12px;
  display: block; }

.b-prod .button-group {
  border-top: none;
  background-color: #fff;
  overflow: auto; }

.product-list .b-prod .button-group {
  border-left: 1px solid #ddd; }

@media (max-width: 768px) {
  .product-list .b-prod .button-group {
    border-left: none; } }
.b-prod .button-group button {
  width: auto;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  display: inline;
  float: left;
  background: url("../image/ico_cart.svg") no-repeat 10px center #f28367;
  -webkit-background-size: 20px;
  background-size: 20px;
  line-height: 38px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

.b-prod .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd; }

.b-prod .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer; }

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0; }

.thumbnails > li {
  margin-left: 20px; }

.thumbnails {
  margin-left: -20px; }

.thumbnails > img {
  width: 100%; }

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd; }

.image-additional {
  max-width: 78px; }

.thumbnails .image-additional {
  float: left;
  margin-left: 20px; }

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1),
  #content .col-lg-2:nth-child(6n+1),
  #content .col-lg-3:nth-child(4n+1),
  #content .col-lg-4:nth-child(3n+1),
  #content .col-lg-6:nth-child(2n+1) {
    clear: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1),
  #content .col-md-2:nth-child(6n+1),
  #content .col-md-3:nth-child(4n+1),
  #content .col-md-4:nth-child(3n+1),
  #content .col-md-6:nth-child(2n+1) {
    clear: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1),
  #content .col-sm-2:nth-child(6n+1),
  #content .col-sm-3:nth-child(4n+1),
  #content .col-sm-4:nth-child(3n+1),
  #content .col-sm-6:nth-child(2n+1) {
    clear: none; } }
/* content */
#content {
  min-height: 600px; }

#content h3 {
  margin-top: 45px;
  text-transform: uppercase; }

.line {
  border-radius: 4px;
  background-image: -moz-linear-gradient(0deg, #fcf0f0 0%, #fadbd0 100%);
  background-image: -webkit-linear-gradient(0deg, #fcf0f0 0%, #fadbd0 100%);
  background-image: -ms-linear-gradient(0deg, #fcf0f0 0%, #fadbd0 100%);
  opacity: 0.302;
  height: 10px;
  z-index: 75;
  margin-bottom: 30px;
  border-radius: 10px; }

/* prices */
.price {
  margin-top: 20px; }
  .price:first-child, .price:nth-child(2), .price:nth-child(3) {
    margin-top: 0; }

.price__link {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff; }
  .price__link:hover {
    color: #ccc; }

/* advantages */
.advantages {
  background: url("../image/hd_peach.jpg") center;
  margin-top: 50px;
  margin-bottom: 10px; }

.advantages__item {
  padding: 60px 20px 60px 90px;
  background-repeat: no-repeat;
  background-position: left center; }

.advantages__item--like {
  background-image: url("../image/ico_thumbsup.svg");
  -webkit-background-size: 61px 63px;
  background-size: 61px 63px; }

.advantages__item--compass {
  background-image: url("../image/ico_compass.svg");
  -webkit-background-size: 56px;
  background-size: 56px; }

.advantages__item--monefy {
  background-image: url("../image/ico_wallet.svg");
  -webkit-background-size: 62px 65px;
  background-size: 62px 65px; }

.advantages__desc {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #fff; }

/* article */
.home-article-lst {
  background: #fefaf8;
  padding-top: 10px;
  padding-bottom: 60px; }

article {
  display: block; }

article.home-page {
  margin-bottom: 60px;
  column-count: 2;
  column-gap: 30px; }

/* articles */
.article__item {
  margin-bottom: 20px; }
  .article__item:hover .article__img {
    opacity: .8; }

.article__img {
  margin-bottom: 15px; }

.article__title {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: bold; }

.article__desc {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1; }

.all-article {
  display: block;
  background: #4b4842;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }
  .all-article:hover {
    color: #ccc; }

/* articles */
.articles {
  overflow: hidden;
  margin-bottom: 20px; }

.article-item {
  padding-top: 20px;
  margin-bottom: 15px;
  margin-top: 0;
  border-top: none; }

.article-descr {
  overflow: hidden; }

.article-item .pull-left {
  float: none !important;
  min-height: 160px;
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  padding-right: 0;
  border-radius: 3px; }
  .article-item .pull-left img {
    width: 100%; }

.article-item h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  color: #4b4842; }

.article-item p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2; }

.article-time {
  background: url("../image/article_time.png") 0 0 no-repeat;
  padding-left: 20px;
  height: 16px;
  line-height: 16px;
  color: #b7b7b7; }

#content .article-item .article-thumb {
  float: left !important;
  padding-right: 15px;
  min-height: 100px; }

#content .article-item h3 {
  margin-top: 5px; }

.article .product-thumb .caption {
  min-height: 140px; }

.caption .more-info {
  width: auto;
  padding: 0 35px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  background: #f28367;
  line-height: 38px;
  height: 38px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

/* information-article */
#content .information-acticle {
  overflow: hidden; }
  #content .information-acticle > h2 {
    margin-bottom: 25px;
    font-size: 26px;
    text-transform: uppercase; }
  #content .information-acticle > h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase; }
  #content .information-acticle > p {
    margin-bottom: 22px; }
    #content .information-acticle > p .pull-full {
      width: 100%; }
    #content .information-acticle > p .pull-left {
      float: left;
      margin-right: 30px; }
    #content .information-acticle > p .pull-right {
      float: right;
      margin-left: 30px; }

.come-back-link {
  display: block;
  margin: -25px 0 40px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #f4746c; }

/* certificate */
.sertificates {
  background: #fefaf8;
  padding: 10px 0 60px; }

.certificate__item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center; }

.certificate__img {
  position: relative;
  display: inline-block; }
  .certificate__img::after {
    display: block;
    content: '';
    width: 37px;
    height: 37px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../image/ico_zoom-in.svg") #f4746d no-repeat center center;
    -webkit-background-size: 22px;
    background-size: 22px;
    border-radius: 5px; }

.all-certificate {
  display: block;
  background: #4b4842;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }
  .all-certificate:hover {
    color: #ccc; }

/* breadcrumb */
.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 12px 15px; }
  .breadcrumb > li > a {
    font-family: 'Play', sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: #f09360;
    border-bottom: 1px solid #f09360; }
  .breadcrumb > li > span {
    font-family: 'Play', sans-serif;
    font-size: 14px;
    line-height: 12px;
    color: #f4746d; }

.breadcrumb > li + li:before {
  content: "\00bb";
  padding: 0 4px 0 2px;
  color: #f28367; }

/* pagination */
nav.paginator {
  background: #fef7f2;
  width: 100%;
  margin: 20px 15px;
  line-height: 0;
  text-align: center; }

.pagination {
  margin: auto;
  border-radius: 3px; }

.pagination > li {
  display: inline; }

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 0 10px;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #f28367;
  background-color: transparent;
  border: none;
  margin-left: -1px; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  font-size: 24px;
  color: #f28367;
  background-color: transparent;
  border: none;
  cursor: default; }

.pagination > li:first-child > a,
.pagination > li:first-child > span
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-left: 0;
  border-radius: 0; }

/* maps */
.maps {
  margin-bottom: 30px; }

.maps__place {
  margin-bottom: 60px; }

.maps__place__title {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase; }

.maps__place__title,
.maps__place__desc {
  font-size: 16px;
  line-height: 1.2; }

.maps__place__desc {
  margin-bottom: 40px; }

.call-back-form {
  position: relative;
  background: url("../image/icon-call-back-form.png") no-repeat 30px center #fef9f5;
  min-height: 125px; }

.call-back-form__link {
  display: block;
  padding: 40px 30px 40px 92px; }
  .call-back-form__link strong {
    display: block;
    font-size: 18px;
    color: #f4746d;
    text-transform: uppercase; }
  .call-back-form__link:hover strong, .call-back-form__link:focus strong {
    color: #f4746d;
    text-transform: uppercase;
    text-decoration: none; }

.ymaps-2-1-41-svg-icon {
  background-image: url("../image/ymaps-2-1-41-svg-icon.png") !important;
  background-size: 24px 32px !important;
  background-repeat: no-repeat; }

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

.ymaps-layers-pane {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

/* footer */
footer {
  margin-top: 30px;
  padding-top: 40px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2; }

footer .logo {
  margin: 0; }

footer hr {
  border-top: none;
  border-bottom: 1px solid #666; }

footer a {
  color: #ccc; }

footer a:hover {
  color: #fff; }

footer h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff; }

.all-rights,
.copy {
  margin-bottom: 25px; }

.all-rights {
  font-size: 14px;
  line-height: 1.2; }

.copy {
  font-size: 12px;
  line-height: 1.2; }

.footer__category-lst__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff; }

.footer__category-lst {
  padding-left: 0;
  list-style: none; }
  .footer__category-lst > li > a {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4746d; }

.footer__menu-lst__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff; }

.footer__menu-lst {
  padding-left: 0;
  list-style: none;
  column-count: 3;
  column-gap: 30px; }
  .footer__menu-lst > li > a {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none; }
  .footer__menu-lst > li:hover > a {
    color: #ccc; }

/* responsive */
@media (min-width: 992px) and (max-width: 1199px) {
  #top {
    background-position: -915px center; }

  .header-phones > li {
    font-size: 16px; }

  .category-menu__img {
    height: auto;
    width: 100%; }

  .article__img {
    height: auto;
    margin-bottom: 15px;
    width: 100%; }

  .fancybox.certificate__img > img {
    height: auto;
    width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) {
  header {
    margin-bottom: 50px; }

  .header-phones > li {
    line-height: 30px; }

  #top {
    background: #4a4741;
    background-position: -915px center; }

  #menu {
    background: #F28368;
    border-radius: 0; }

  #menu .dropdown:hover .dropdown-menu {
    display: none; }

  #menu .btn-navbar {
    width: 100%;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
    border: none; }
    #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active {
      background-color: transparent;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #menu .btn-navbar i {
      float: right;
      margin-top: 15px;
      font-size: 30px; }

  .navbar-header {
    width: 100%;
    float: none; }

  .navbar-collapse.collapse {
    position: static;
    display: none !important;
    height: auto !important;
    overflow: hidden !important;
    padding-bottom: 0; }

  .navbar-collapse.collapse.in {
    position: static;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0; }

  .navbar-toggle {
    display: block; }

  .navbar-nav {
    float: none;
    margin: 0; }

  .navbar-nav > li {
    float: none; }

  .nav.navbar-nav {
    padding-right: 0; }

  #search {
    position: relative;
    margin: 15px; }

  .category-menu__item {
    margin-bottom: 30px; }

  .fancybox.certificate__img > img {
    height: auto;
    width: 100%; }

  .article__img {
    height: auto;
    margin-bottom: 15px;
    width: 100%; }

  .price:first-child, .price:nth-child(2), .price:nth-child(3) {
    margin-top: 0;
    margin-bottom: 30px; }

  .price {
    margin-top: 0;
    margin-bottom: 30px; }

  .b-prod {
    margin-bottom: 30px; }

  .b-prod .image img {
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0; }

  /* footer */
  .footer__menu-lst {
    column-count: 1;
    -moz-column-count: 1; }

  .copy {
    margin-bottom: 40px; }

  .footer__category-lst__title,
  .footer__menu-lst__title {
    margin-bottom: 30px; }

  .footer__category-lst,
  .footer__menu-lst {
    margin-bottom: 40px; }

  .footer__category-lst > li > a,
  .footer__menu-lst > li > a {
    display: inline-block;
    line-height: 30px; } }
@media (max-width: 767px) {
  h3 {
    margin-top: 20px; }

  #top {
    background: #4b4842; }

  #top .list-inline {
    display: inline-block;
    margin-top: 25px; }

  #top .list-inline > li {
    display: none; }

  #top .list-inline > .sub-menu {
    display: block;
    margin: 0; }

  #top .list-inline > li > a.menu-hamburger {
    height: 14px; }

  #menu {
    border-radius: 0; }

  #menu .btn-navbar {
    width: 100%;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0 18px;
    border: none; }
    #menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active {
      background-color: transparent;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    #menu .btn-navbar i {
      float: right;
      margin-top: 15px;
      font-size: 30px; }

  #menu #category {
    padding-left: 0; }

  #search {
    display: none; }

  .account {
    background-position: right center; }

  .nav.navbar-nav {
    display: block;
    padding-right: 0; }

  #cart-total {
    display: none; }

  /* header */
  header {
    margin-bottom: 0; }

  #header-bottom {
    background: #4b4842; }

  .container > .navbar-collapse {
    padding: 0 15px; }

  .category-menu {
    margin-top: 20px; }

  .header-phones > li {
    line-height: 30px; }

  .more-info {
    margin-bottom: 5px; }

  .header-phones {
    margin-bottom: 0; }

  .header-phones--more-info {
    padding-bottom: 20px; }

  .call-back, .cooperation-link {
    margin: 10px 0 15px;
    line-height: 1; }

  .cooperation-link {
    margin-bottom: 20px; }

  .category-menu__img {
    display: none; }

  .category-menu__label {
    position: relative;
    bottom: 0;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px; }

  #content h3 {
    margin-top: 25px; }

  .price {
    margin-top: 0; }

  .price__link {
    width: 100%;
    margin-bottom: 10px;
    white-space: normal;
    text-align: left; }

  article.home-page {
    margin-bottom: 60px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px; }

  .article__img {
    display: block;
    margin: 0 auto; }

  /* modal */
  .modal-dialog {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 10px; }

  .form-group {
    margin-bottom: 15px;
    padding: 0 15px; }

  /* footer */
  .footer__menu-lst {
    column-count: 1;
    -moz-column-count: 1; }

  .copy {
    margin-bottom: 40px; }

  .footer__category-lst__title,
  .footer__menu-lst__title {
    margin-bottom: 30px; }

  .footer__category-lst,
  .footer__menu-lst {
    margin-bottom: 40px; }

  .footer__category-lst > li > a,
  .footer__menu-lst > li > a {
    display: inline-block;
    line-height: 30px; } }
@media (max-width: 360px) {
  .header-phones {
    column-count: 1;
    -moz-column-count: 1; } }

/*# sourceMappingURL=main.css.map */
