/* NEW STYLE */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: bold; }

/* default font size */
.fa {
  font-size: 14px; }

/* Override the bootstrap defaults */
h1 {
  margin-top: 55px;
  font-size: 30px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 24px;
  line-height: 1.2; }

h4 {
  font-size: 14px;
  line-height: 1.3; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10.2px; }

a {
  color: #4b4842; }

a:hover {
  text-decoration: none; }

a:focus,
button:focus {
  outline: none; }

legend {
  font-size: 18px;
  padding: 7px 0px; }

label {
  font-size: 12px;
  font-weight: normal; }

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
  font-size: 12px; }

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
  font-size: 12px; }

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px; }

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline; }

.nav-tabs {
  margin-bottom: 15px; }

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold; }

.owl-carousel {
  margin-bottom: 30px; }

.owl-wrapper-outer {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btn-dark {
  background: #4b4842; }

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

/* header */
header {
  background: url("../image/mocaic.png");
  margin-bottom: 50px; }

.navbar {
  margin-bottom: 0; }

.header-phones--more-info {
  background: #fef7f2;
  padding-top: 20px; }

.header-phones {
  padding-left: 0;
  list-style: none;
  column-count: 2; }
  .header-phones > li {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    line-height: 1.3; }

.more-info {
  font-family: 'Play', sans-serif;
  font-size: 14px;
  line-height: 1.2; }

.call-back,
.cooperation-link {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  color: #f4746c;
  border-bottom: 1px solid #f4746c; }
  .call-back:hover,
  .cooperation-link:hover {
    color: #f4746c;
    border-color: transparent; }

/* top */
#top {
  padding: 0;
  margin: 0;
  min-height: 60px; }

#top .container {
  padding: 0 15px; }

#top .list-inline {
  display: inline; }

#top .list-inline li {
  margin-top: 20px;
  padding-right: 5px; }

#top .list-inline li:nth-child(2)::after {
  position: relative;
  top: -2px;
  right: -5px;
  display: inline-block;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff; }

#top .list-inline li > a {
  color: #fff; }

a.menu-hamburger {
  background: url("../image/icon-dropdown-toggle.png") no-repeat center;
  display: block;
  width: 16px;
  height: 16px;
  color: #fff; }

.time-working {
  padding-top: 15px;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  color: #fff; }
  .time-working span {
    display: block; }

.account {
  background: url("../image/icon-account.png") no-repeat left center;
  display: block;
  text-align: right;
  height: 10vh;
  line-height: 10vh;
  color: #fff; }
  .account:hover {
    color: #ccc; }

#top .list-inline .dropdown-menu {
  left: 15px; }

#top #currency .currency-select {
  text-align: left; }

#top #currency .currency-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

#top .btn-link, #top-links li, #top-links a {
  color: #888;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none; }

#top .btn-link:hover, #top-links a:hover {
  color: #444; }

#top-links .dropdown-menu a {
  text-shadow: none; }

#top-links .dropdown-menu a:hover {
  color: #FFF; }

#top .btn-link strong {
  font-size: 14px;
  line-height: 14px; }

#top-links {
  padding-top: 6px; }

#top-links a + a {
  margin-left: 15px; }

/* menu */
.navbar-nav > li > a {
  font-family: 'Play', sans-serif;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff; }

/* logo */
#logo {
  margin: 0 0 10px 0;
  padding-top: 20px; }

/* menu */
#menu {
  background: url("../image/hd_peach.jpg") center;
  min-height: 40px; }

#menu .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 30px 15px;
  min-height: 15px;
  background-color: transparent; }

#menu .nav > li > a:hover, #menu .nav > li.open > a {
  background-color: rgba(0, 0, 0, 0.1); }

#menu .dropdown-menu {
  padding-bottom: 0; }

#menu .dropdown-inner {
  display: table; }

#menu .dropdown-inner ul {
  display: table-cell; }

#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #333333;
  font-size: 12px; }

#menu .dropdown-inner li a:hover {
  color: #FFFFFF; }

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #DDD;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px; }

#menu .see-all:hover, #menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x; }

#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #FFF;
  padding: 2px 18px;
  float: right;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a; }

#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #229ac8; }

@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block; } }
@media (max-width: 767px) {
  #menu {
    border-radius: 4px; }

  #menu div.dropdown-inner > ul.list-unstyled {
    display: block; }

  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1); }

  #menu .dropdown-inner {
    display: block; }

  #menu .dropdown-inner a {
    width: 100%;
    color: #fff; }

  #menu .dropdown-menu a:hover,
  #menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1); }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff; } }
.container > .navbar-collapse {
  position: relative; }

/* search */
#search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  width: 24px; }

#search .input-lg {
  display: none;
  height: 40px;
  line-height: 20px;
  padding: 0 10px; }

#search .btn-lg {
  width: 24px;
  height: 24px;
  background: url("../image/icon-search.png") no-repeat center;
  border: none;
  font-size: 15px;
  line-height: 18px;
  padding: 10px 0;
  text-shadow: none; }
  #search .btn-lg:focus {
    outline: none; }

/* category-menu */
.category-menu__item {
  position: relative;
  border-radius: 3px;
  opacity: 1; }

.category-menu__item:hover {
  opacity: .7; }

.category-menu__link {
  display: block; }

.category-menu__label {
  background: #f28367;
  position: absolute;
  bottom: 40px;
  display: block;
  padding: 15px 15px 15px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #3e372b;
  border-radius: 0 3px 3px 0; }

.category-menu__label > span {
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase; }

.category-menu__label > strong {
  font-weight: bold; }

/* cart */
#cart {
  margin-bottom: 10px; }

.cart {
  background: #fff; }

#cart > .btn {
  font-size: 12px;
  line-height: 18px;
  color: #FFF; }

#cart.open > .btn {
  background-image: none;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  color: #666;
  box-shadow: none;
  text-shadow: none; }

#cart.open > .btn:hover {
  color: #444; }

#cart .dropdown-menu {
  background: #eee;
  z-index: 1001; }

#cart .dropdown-menu {
  min-width: 100%; }

@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%; } }
#cart .dropdown-menu table {
  margin-bottom: 10px; }

#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px; }

@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%; } }
#cart .dropdown-menu li p {
  margin: 20px 0; }

/* product list */
.product-thumb {
  border: none;
  margin-bottom: 20px;
  overflow: auto; }

.product-thumb .image {
  text-align: center; }

.product-thumb .image a {
  display: block; }

.product-thumb .image a:hover {
  opacity: 0.8; }

.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.product-grid .product-thumb .image {
  float: none; }

@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px; } }
.product-thumb h4 {
  font-weight: bold;
  text-transform: uppercase; }

.product-thumb .caption {
  padding: 0;
  min-height: 30px; }

.product-list .product-thumb .caption {
  margin-left: 230px; }

@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 30px;
    padding: 0; } }
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0; }

  .product-grid .product-thumb .caption {
    min-height: 0; } }
.product-thumb .rating {
  padding-bottom: 10px; }

.rating .fa-stack {
  font-size: 8px; }

.rating .fa-star-o {
  color: #999;
  font-size: 15px; }

.rating .fa-star {
  color: #FC0;
  font-size: 15px; }

.rating .fa-star + .fa-star-o {
  color: #E69500; }

h2.price {
  margin: 0; }

.product-thumb .price {
  color: #444; }

.product-thumb .price-new {
  font-weight: 600; }

.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px; }

.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block; }

.product-thumb .button-group {
  border-top: none;
  background-color: #fff;
  overflow: auto; }

.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd; }

@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none; } }
.product-thumb .button-group button {
  width: auto;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  display: inline;
  float: left;
  background: url("../image/icon-cart.png") no-repeat 10px center #f28367;
  line-height: 38px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd; }

.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer; }

@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%; } }
@media (max-width: 767px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%; } }
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0; }

.thumbnails > li {
  margin-left: 20px; }

.thumbnails {
  margin-left: -20px; }

.thumbnails > img {
  width: 100%; }

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd; }

.image-additional {
  max-width: 78px; }

.thumbnails .image-additional {
  float: left;
  margin-left: 20px; }

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1),
  #content .col-lg-2:nth-child(6n+1),
  #content .col-lg-3:nth-child(4n+1),
  #content .col-lg-4:nth-child(3n+1),
  #content .col-lg-6:nth-child(2n+1) {
    clear: none; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1),
  #content .col-md-2:nth-child(6n+1),
  #content .col-md-3:nth-child(4n+1),
  #content .col-md-4:nth-child(3n+1),
  #content .col-md-6:nth-child(2n+1) {
    clear: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1),
  #content .col-sm-2:nth-child(6n+1),
  #content .col-sm-3:nth-child(4n+1),
  #content .col-sm-4:nth-child(3n+1),
  #content .col-sm-6:nth-child(2n+1) {
    clear: none; } }
/* content */
#content {
  min-height: 600px; }

#content h3 {
  margin-top: 45px;
  text-transform: uppercase; }

.line {
  background: #fadad0;
  height: 10px;
  margin-bottom: 30px;
  border-radius: 10px; }

/* prices */
.price {
  margin-bottom: 20px; }

.price__link {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff; }
  .price__link:hover {
    color: #ccc; }

/* advantages */
.advantages {
  background: url("../image/hd_peach.jpg") center; }

.advantages__item {
  padding: 60px 20px 60px 90px;
  background-repeat: no-repeat;
  background-position: left center; }

.advantages__item--like {
  background-image: url("../image/icon-like.png"); }

.advantages__item--compass {
  background-image: url("../image/icon-compas.png"); }

.advantages__item--monefy {
  background-image: url("../image/icon-monefy.png"); }

.advantages__desc {
  font-size: 16px;
  line-height: 1.2;
  color: #fff; }

/* article */
article {
  display: block; }

article.home-page {
  margin-bottom: 60px;
  column-count: 2;
  column-gap: 30px; }

/* articles */
.article__item {
  margin-bottom: 20px; }
  .article__item:hover {
    opacity: .8; }

.article__img {
  margin-bottom: 15px; }

.article__title {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: bold; }

.article__desc {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1; }

.all-article {
  display: block;
  background: #4b4842;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }
  .all-article:hover {
    color: #ccc; }

/* certificate */
.sertificates {
  background: #fefaf8;
  padding: 30px 0; }

.certificate__item {
  position: relative;
  margin-top: 20px; }
  .certificate__item::after {
    display: none;
    content: '';
    width: 37px;
    height: 37px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../image/icon-certificate.png") #f4746d no-repeat center center;
    border-radius: 5px; }
  .certificate__item:hover::after {
    display: block; }

.all-certificate {
  display: block;
  background: #4b4842;
  margin: 40px auto 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }
  .all-certificate:hover {
    color: #ccc; }

/* maps */
.maps__img {
  margin-bottom: 30px; }

.maps__place {
  margin-bottom: 60px; }

.maps__place__title {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase; }

.maps__place__title,
.maps__place__desc {
  font-size: 16px;
  line-height: 1.2; }

.maps__place__desc {
  margin-bottom: 40px; }

.call-back-form {
  position: relative;
  background: url("../image/icon-call-back-form.png") no-repeat 30px center #fef9f5;
  min-height: 125px; }

.call-back-form__link {
  display: block;
  padding: 40px 30px 40px 92px; }
  .call-back-form__link strong {
    display: block;
    font-size: 18px;
    color: #f4746d;
    text-transform: uppercase; }

/* footer */
footer {
  margin-top: 30px;
  padding-top: 40px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2; }

footer .logo {
  margin-bottom: 15px; }

footer hr {
  border-top: none;
  border-bottom: 1px solid #666; }

footer a {
  color: #ccc; }

footer a:hover {
  color: #fff; }

footer h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff; }

.all-rights,
.copy {
  margin-bottom: 25px; }

.all-rights {
  font-size: 14px;
  line-height: 1.2; }

.copy {
  font-size: 12px;
  line-height: 1.2; }

.footer__category-lst__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff; }

.footer__category-lst {
  padding-left: 0;
  list-style: none; }
  .footer__category-lst > li > a {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4746d; }

.footer__menu-lst__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: #fff; }

.footer__menu-lst {
  padding-left: 0;
  list-style: none;
  column-count: 3;
  column-gap: 30px; }
  .footer__menu-lst > li > a {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none; }
  .footer__menu-lst > li:hover > a {
    color: #ccc; }

/* responsive */
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    margin-top: 70px; }

  .header {
    height: 164px; }

  .header-info {
    position: static; }

  .header-info__phone {
    margin: 20px -15px; }

  .header-info__phone > span {
    display: block; }

  aside {
    display: none; }

  #sidebar {
    overflow: hidden;
    background: #323232;
    height: 100vh;
    margin: 0 -15px;
    padding: 15px;
    color: #fff;
    z-index: 30;
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 99;
    width: 279.5px !important; }

  .form-sidebar__title {
    color: #fff; }

  .sidebar__category-item,
  .sidebar__around-clock,
  .sidebar__phone {
    display: none; }

  .slider {
    -webkit-box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42);
    box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42); }

  .menu-gadgets__top-line {
    -webkit-background-size: cover;
    background-size: cover; }

  .menu-domestic__item__top-line {
    -webkit-background-size: contain;
    background-size: contain; }

  .main-menu__item {
    margin-right: 20px; }

  .menu-domestic__item {
    display: table; }

  .menu-domestic__item__title {
    height: 110px;
    padding-top: 0;
    display: table-cell;
    vertical-align: middle; }

  #fixed,
  .fixed {
    width: 292.5px; } }
@media (min-width: 768px) and (max-width: 991px) {
  header {
    margin-top: 70px; }

  .header {
    height: 164px; }

  .header-info {
    position: static; }

  aside {
    display: none; }

  #sidebar {
    overflow: hidden;
    background: #323232;
    height: 100vh;
    margin: 0 -15px;
    padding: 15px;
    color: #fff;
    z-index: 30;
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 99;
    width: 279.5px !important; }

  .form-sidebar__title {
    color: #fff; }

  .sidebar__category-item,
  .sidebar__around-clock,
  .sidebar__phone {
    display: none; }

  .header-logo {
    margin-top: 8px;
    width: 100%;
    height: auto; }

  .main-menu__item {
    margin-right: 20px; }

  .navbar-brand {
    width: 200px; }

  .header-info__phone,
  .header-info__address,
  .header-info__working-hours {
    margin: 16px 0; }

  .header-info__phone > span {
    display: inline-block; }

  .main-menu {
    margin-top: 35px; }

  .slider {
    -webkit-box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42);
    box-shadow: inset 0px 11px 11px -11px rgba(0, 0, 0, 0.42); }

  .advantages-block__item__desc {
    height: 180px; }

  .page-article__cnt p > img {
    padding-right: 30px; }

  .logo--footer {
    margin-top: 15px;
    margin-bottom: 25px; }

  .menu-domestic__item {
    display: table; }

  .menu-domestic__item__title {
    height: 110px;
    padding-top: 0;
    display: table-cell;
    vertical-align: middle; } }
@media (max-width: 767px) {
  body {
    background: transparent; }

  /* header */
  .header {
    margin-top: 70px;
    height: auto; }

  .header-logo {
    margin-top: 10px; }

  .header-info {
    position: static;
    height: auto; }

  /* header-inner */
  .head-inner {
    margin-top: 30px; }

  .head-inner__title {
    font-size: 36px; }

  .head-inner__question {
    display: block;
    line-height: 2; }

  .head-inner__call-master {
    background: none;
    margin-left: 5px;
    line-height: 2; }

  .header-info__phone,
  .header-info__address,
  .header-info__working-hours {
    margin: 10px 0; }

  .header-info__phone > span {
    display: block; }

  /* head1-block */
  .head1-block {
    margin-top: 30px; }

  .head1-block__title {
    font-size: 36px;
    white-space: normal; }

  .head1-block__question {
    display: block;
    padding-left: 30px;
    line-height: 1.2; }

  .head1-block__top .head1-block__call-master {
    margin-left: 30px; }

  /* menu */
  .container-fluid > .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }

  .main-menu {
    margin-top: 0;
    padding-top: 20px;
    opacity: 0.9; }

  .main-menu__item {
    margin-right: 0;
    display: block;
    border: none; }
    .main-menu__item:first-child {
      display: none; }

  .main-menu__link {
    display: block;
    padding: 10px 15px; }

  /* menu-gadgets */
  .menu-gadgets {
    margin-top: 0; }

  .menu-gadgets__top-line {
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 30px; }

  /* menu-domestic */
  .menu-domestic__item {
    height: auto; }

  .menu-domestic__item__link-icon {
    display: none; }

  .menu-domestic__item__title {
    padding: 30px; }

  /* content */
  aside {
    visibility: hidden; }

  #sidebar {
    overflow: hidden;
    background: #323232;
    height: 100vh;
    margin: 0 -15px;
    padding: 15px;
    color: #fff;
    position: fixed;
    top: 60px;
    left: 15px;
    z-index: 99;
    width: 279.5px !important;
    z-index: 35; }

  .form-sidebar__title {
    color: #fff; }

  .sidebar__category-item,
  .sidebar__around-clock,
  .sidebar__phone {
    display: none; }

  .show {
    top: 60px !important;
    visibility: visible;
    -webkit-transition: visibility 3s;
    -moz-transition: visibility 3s;
    -ms-transition: visibility 3s;
    -o-transition: visibility 3s;
    transition: visibility 3s; }

  .title {
    background-position: 10px center;
    padding-left: 15px; }

  .prices-block__title,
  .advantages-block__title,
  .alert-block,
  .page-article__title,
  .reviews__title,
  .blog-list__title,
  .menu-professional__title,
  .menu-domestic__title,
  .menu-brands__title,
  .menu-problems__title,
  .menu-tabs__title,
  .contact-map__title,
  .contact-form__title,
  .contact-data__title,
  .offers-archive__title,
  .offers-list__title {
    background-image: none; }

  .alert-block {
    padding: 25px 30px; }

  .alert-block__time {
    text-align: left; }

  /* blog */
  .blog-article {
    margin-top: 30px; }

  .blog-article__title {
    padding: 0 30px 30px; }

  .blog-header {
    margin-top: 30px; }

  .blog__post__desc,
  .blog__post__title {
    padding-left: 30px; }

  /* price-block */
  .prices-block__table {
    margin-bottom: 0; }

  .prices-block__table > tbody > tr > td:last-child {
    padding: 15px 0; }

  .prices-block__table > tbody > tr > td {
    padding: 10px 15px;
    display: block;
    text-align: center; }

  /* menu-problems */
  .menu-problems__cnt {
    padding: 30px 30px 10px; }

  .menu-problems__lst {
    margin-bottom: 20px; }

  /* menu-tabs */
  .menu-tabs__cnt {
    float: left;
    margin-top: 0;
    margin-bottom: 20px; }

  /* advantages-block */
  .advantages-block__item__desc {
    height: 190px; }

  .page-article__cnt {
    padding-top: 25px; }

  .page-article__cnt__img {
    display: none; }

  /* menu-professional */
  .menu-professional__lst {
    -webkit-columns: 1;
    columns: 1;
    margin-bottom: 0; }

  /* blog */
  .blog-list__lst {
    margin-bottom: 20px; }

  .btn-light {
    white-space: normal; }

  .btn-blue {
    float: none;
    width: 100%;
    margin: 10px 0 30px; }

  .btn-blue--lg {
    float: none;
    width: 100%;
    margin: 10px 30px 0 0; }

  /* action */
  .act-date {
    position: relative;
    margin: 0; }

  /* footer */
  .footer__license {
    margin: 20px 0;
    text-align: left; } }
@media (max-width: 320px) {
  .call-the-master {
    width: 264px; }

  .navbar-brand {
    width: auto; } }

/*# sourceMappingURL=main.css.map */
