/* certificate */

.sertificates{
    background: #fefaf8;
    padding: 10px 0 60px;
}

.certificate__item{
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}



.certificate__img{
    position: relative;
    display: inline-block;

    &::after{
        display: block;
        content: '';
        width: 37px;
        height: 37px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: url("../image/ico_zoom-in.svg") #f4746d no-repeat center center;
        -webkit-background-size: 22px;
        background-size: 22px;
        border-radius: 5px;
    }
}

.all-certificate{
    display: block;
    background: #4b4842;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;

    &:hover{
        color: #ccc;
    }
}