/* content */
#content {
    min-height: 600px;
}

#content h3 {
    text-transform: uppercase;
}

.line{
    background: #fadad0;
    height: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}