/* filter */

#filter {
    overflow: hidden;
    box-shadow: none;
    border: none;
}

.filter {

    .filter__title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        color: #4a4741;
    }

    .panel-heading {
        background: #fef7f2;
        padding: 20px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        color: #4a4741;
    }

    .list-group {
        overflow: hidden;
        background: #fef7f2;
    }

    .list-group-item {
        background-color: transparent;
        padding: 10px 0;
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
        color: #4a4741;
        text-transform: uppercase;
        border: none;

        input[type="checkbox"],
        input[type="radio"] {
            display: none;
        }
        input[type="checkbox"] + label,
        input[type="radio"] + label {
            font-size: 14px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #444;
            cursor: pointer;
        }
        input[type="checkbox"] + label::before,
        input[type="radio"] + label::before {
            content: "";
            display: inline-block;
            margin: 0 5px 0 0;
            width: 13px;
            height: 13px;
            border: 1px solid #f28367;
        }

        input[type="checkbox"] + label::before {

        }

        input[type="checkbox"]:checked + label::before {
            width: 13px;
            height: 13px;
            background: url("../image/checked.jpg") no-repeat center;

        }

    }

    .panel-footer {
        background: #fef7f2;
    }
}

.filter-block {
    padding: 10px 15px;
    border: none;
}


