/* prices */

.price{
    margin-bottom: 20px;
}

.price__link{
    font-family: 'Play', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;

    &:hover{
        color: #ccc;
    }
}