/* product list */

.b-prod {
    position: relative;
    padding-bottom: 40px;
    border: none;
    margin-bottom: 0;
    overflow: auto;
}

.b-prod__footer {
    position: absolute;
    bottom: 0;
}

.pay {
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
}

.b-prod .image {
    text-align: center;
}

.b-prod .image a {
    display: block;
}

.b-prod .image a:hover {
    opacity: 0.8;
}

.b-prod .image img {
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.product-grid .b-prod .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .b-prod .image {
        float: left;
        padding: 0 15px;
    }
}

.b-prod .b-prod__title {
    font-size: 14px;
    line-height: 1.3;
    max-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    min-height: 36px;
}

.b-prod .caption {
    padding: 0;
    min-height: 30px;
}

.product-list .b-prod .caption {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    .product-grid .b-prod .caption {
        min-height: 30px;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .product-list .b-prod .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0;
    }

    .product-grid .b-prod .caption {
        min-height: 0;
    }
}

.b-prod .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #E69500;
}

h2.price {
    margin: 0;
}

.b-prod .price {
    color: #444;
}

.b-prod .price-new {
    font-weight: 600;
}

.b-prod .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.b-prod .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.b-prod .button-group {
    border-top: none;
    background-color: #fff;
    overflow: auto;
}

.product-list .b-prod .button-group {
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .product-list .b-prod .button-group {
        border-left: none;
    }
}

.b-prod .button-group button {
    width: auto;
    padding-left: 40px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    display: inline;
    float: left;
    background: url("../image/ico_cart.svg") no-repeat 10px center #f28367;
    -webkit-background-size: 20px;
    background-size: 20px;
    line-height: 38px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.b-prod .button-group button + button {
    width: 20%;
    border-left: 1px solid #ddd;
}

.b-prod .button-group button:hover {
    color: #fff;
    background-color: #4b4842;
    text-decoration: none;
    cursor: pointer;
}

.b-prod--cat {
    padding-bottom: 0;

    .b-prod__desc {
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(158, 158, 154, 0.5);
        padding: 12px 15px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        border-radius: 0 0 5px 5px;
        text-align: left;
    }

    &:hover {

        .b-prod__desc {
            display: block;
        }
    }
}

.b-prod--cat__body {
    position: relative;
}

.b-prod--cat__bottom {
    position: absolute;
    bottom: 0;
}

.b-prod--cat .image a:hover {
    opacity: 1;
}

.b-prod--cat .button-group {
    position: relative;
    margin-bottom: 30px;
}

.b-prod--cat .button-group .more-info {
    float: left;
    width: auto;
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
    display: inline;
    background: #4a4741;
    height: 40px;
    line-height: 30px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.b-prod--cat .button-group .pay--cat {
    float: right;
    font-size: 16px;
}

.b-prod--cat .line {
    background: #fadad0;
    margin-bottom: 40px;
}

.b-prod--cat__body {
    margin-bottom: 20px;
}

.b-prod--cat__title {
    margin-bottom: 15px;
}

.b-prod__price {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #f4746d;
    text-transform: uppercase;

    span {
        font-size: 36px;
    }
}

.thumbnail {
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border: none;
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
}

.thumbnails > li {
    margin-left: 0;
}

.thumbnails {
    margin-left: -15px;
    margin-right: -15px;
}

.thumbnails > img {
    width: 100%;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 0;
    display: block;
    border: 1px solid #ddd;
}

.image-additional {
    max-width: 100%;
}

.thumbnails .image-additional {
    float: left;
    margin-left: 0;
}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: none;
    }
}
