/* search */
#search {
    margin-bottom: 10px;
}
#search .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
}
#search .btn-lg {
    background: transparent;
    border: none;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
    text-shadow: none;
}