/* top */
#top {
    padding: 0;
    margin: 0;
    min-height: 60px;
}

#top .container {
    padding: 0 15px;
}

#top .list-inline {
    display: inline;
}

#top .list-inline li{
    margin-top: 20px;
    padding-right: 5px;
}

#top .list-inline li:nth-child(2)::after{
    position: relative;
    top: -2px;
    right: -5px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

#top .list-inline li >a {
    color: #fff;
}

a.menu-hamburger{
    background: url("../image/icon-dropdown-toggle.png") no-repeat center;
    display: block;
    width: 16px;
    height: 16px;
    color: #fff;
}

.time-working{
    padding-top: 15px;
    font-family: 'Play', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    color: #fff;

    span{
        display: block;
    }
}

.account{
    background: url("../image/icon-account.png") no-repeat left center;
    display: block;
    text-align: right;
    height: 10vh;
    line-height: 10vh;
    color: #fff;
    
    &:hover{
        color: #ccc;
    }
}

#top .list-inline .dropdown-menu {
    left: 15px;
}

#top #currency .currency-select {
    text-align: left;
}

#top #currency .currency-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link, #top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover, #top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a + a {
    margin-left: 15px;
}

/* menu */
.navbar-nav > li > a {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}