/* top */
#top {
    background: url("../image/cart_line_bg.jpg") top center repeat-y;
    padding: 0;
    margin: 0;
    min-height: 60px;
}

#top .container {
    padding: 0 15px;
}

#top .list-inline {
    display: inline;
}

#top .list-inline > li {
    height: 19px;
    margin-top: 15px;
    padding-right: 5px;
}

#top .list-inline > li:nth-child(2)::after {
    position: relative;
    top: -2px;
    right: -5px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
}

#top .list-inline > li > a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    border-bottom: 1px solid;
}

#top .list-inline > li > a.menu-hamburger {
    background: url("../image/icon-dropdown-toggle.png") no-repeat center;
    display: block;
    width: 16px;
    height: 30px;
    color: #fff;
    border-bottom: none;
}

.dropdown-menu {
    background: #fef7f2;
    padding: 15px 0;
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.175);
    border: none;
    border-radius: 0;

    & > li {
        padding: 5px 20px;

        > a {
            display: inline;
            padding: 0;
            font-family: "PT Sans", sans-serif;
            font-size: 16px;
            line-height: 1.2;
            color: #4a4741;
            border-bottom: 1px solid #4a4741;

            &:hover {
                background: transparent;
                color: #4a4741;
                border: none;
            }
        }
    }
}

.time-working {
    margin: 15px 0;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    color: #fff;

    span {
        display: block;
    }
}

.account {
    background: url("../image/ico_login.svg") no-repeat left center;
    -webkit-background-size: 30px;
    background-size: 30px;
    display: block;
    text-align: right;
    height: 30px;
    margin: 15px auto;
    //padding-left: 50px;
    line-height: 30px;
    color: #fff;

    &:hover,
    &:focus {
        color: #ccc;
    }
}

#top .list-inline .dropdown-menu {
    left: 15px;
}

#top #currency .currency-select {
    text-align: left;
}

#top #currency .currency-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link, #top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover, #top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a + a {
    margin-left: 15px;
}

/* menu */
.navbar-nav > li > a {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}

#header-bottom {
    background: url("../image/logo_line_bg.jpg") top center repeat-y;
}