@media (min-width: 992px) and (max-width: 1199px) {

    #top {
        background-position: -915px center;
    }

    .header-phones > li {
        font-size: 16px;
    }

    .category-menu__img {
        height: auto;
        width: 100%;
    }

    .article__img {
        height: auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .fancybox.certificate__img > img {
        height: auto;
        width: 100%;
    }

    .b-prod--cat .button-group .more-info {
        margin-bottom: 20px;
    }

    .b-prod .button-group button,
    .b-prod--cat .button-group .more-info {
        width: 100%;
    }

    .b-prod__price span {
        display: block;
        line-height: 1;
    }

    //#search{
    //    display: none;
    //}
    //
    //.nav.navbar-nav{
    //    padding-left: 0;
    //}
}