@media (min-width: 768px) and (max-width: 991px) {

    header {
        margin-bottom: 50px;
    }

    .header-phones > li {
        line-height: 30px;
    }

    #top {
        background: #4a4741;
        background-position: -915px center;
    }

    #top .container {
        padding: 0;
    }

    .list-inline {
        margin-left: 10px;
    }

    #menu #category {
        padding-left: 0;
    }

    #menu {
        background: #F28368;
        border-radius: 0;
    }

    #menu .dropdown:hover .dropdown-menu {
        display: none;
    }

    #menu .btn-navbar {
        width: 100%;
        background-color: transparent;
        background-image: none;
        margin: 0;
        padding: 0;
        border: none;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        i {
            float: right;
            margin-top: 15px;
            font-size: 30px;
        }
    }

    .navbar-header {
        width: 100%;
        float: none;
    }

    .navbar-collapse.collapse {
        position: static;
        display: none !important;
        height: auto !important;
        overflow: hidden !important;
        padding-bottom: 0;
    }

    .navbar-collapse.collapse.in {
        position: static;
        display: block !important;
        height: auto !important;
        overflow: visible !important;
        padding-bottom: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-nav {
        float: none;
        margin: 0;
    }

    .navbar-nav > li {
        float: none;
    }

    .nav.navbar-nav {
        padding-right: 0;
    }

    #search {
        position: relative;
        margin: 15px;
    }

    .category-menu__item {
        margin-bottom: 30px;
    }

    .fancybox.certificate__img > img {
        height: auto;
        width: 100%;
    }

    .article__img {
        height: auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .price:first-child, .price:nth-child(2), .price:nth-child(3) {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .price {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .b-prod {
        margin-bottom: 30px;
    }

    .b-prod .image img {
        border-radius: 5px;
        margin-left: 0;
        margin-right: 0;
    }

    .b-prod--cat .button-group .more-info {
        margin-bottom: 20px;
    }

    .b-prod .button-group button,
    .b-prod--cat .button-group .more-info {
        width: 100%;
    }

    .b-prod__price span {
        display: block;
        line-height: 1;
    }



    /* footer */
    .footer__menu-lst {
        column-count: 1;
        -moz-column-count: 1;
    }

    .copy {
        margin-bottom: 40px;
    }

    .footer__category-lst__title,
    .footer__menu-lst__title {
        margin-bottom: 30px;
    }

    .footer__category-lst,
    .footer__menu-lst {
        margin-bottom: 40px;
    }

    .footer__category-lst > li > a,
    .footer__menu-lst > li > a {
        display: inline-block;
        line-height: 30px;
    }

}