@media (max-width: 767px) {

    h3 {
        margin-top: 20px;
    }

    #top {
        background: #4b4842;
    }

    #top .list-inline {
        display: inline-block;
        margin-top: 25px;
    }

    #top .list-inline > li {
        display: none;
    }

    #top .list-inline > .sub-menu {
        display: block;
        margin: 0;
    }

    #top .list-inline > li > a.menu-hamburger {
        height: 14px;
    }

    #menu {
        border-radius: 0;
    }

    #menu .btn-navbar {
        width: 100%;
        background-color: transparent;
        background-image: none;
        margin: 0;
        padding: 0 18px;
        border: none;

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        i {
            float: right;
            margin-top: 15px;
            font-size: 30px;
        }
    }

    #menu #category {
        padding-left: 0;
    }

    #search {
        display: none;
    }

    .account {
        background-position: right center;
    }

    .nav.navbar-nav {
        display: block;
        padding-right: 0;
    }

    #cart-total {
        display: none;
    }

    /* header */
    header {
        margin-bottom: 0;
    }

    #header-bottom {
        background: #4b4842;
    }

    .container > .navbar-collapse {
        padding: 0 15px;
    }

    .category-menu{
        margin-top: 20px;
    }

    .header-phones > li {
        line-height: 30px;
    }

    .more-info{
        margin-bottom: 5px;
    }

    .header-phones{
        margin-bottom: 0;
    }

    .header-phones--more-info{
        padding-bottom: 20px;
    }

    .call-back, .cooperation-link {
        margin: 10px 0 15px;
        line-height: 1;
    }

    .cooperation-link{
        margin-bottom: 20px;
    }

    .category-menu__img {
        display: none;
    }

    .category-menu__label {
        position: relative;
        bottom: 0;
        display: block;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    #content h3 {
        margin-top: 25px;
    }

    .price {
        margin-top: 0;
    }

    .price__link {
        width: 100%;
        margin-bottom: 10px;
        white-space: normal;
        text-align: left;
    }

    article.home-page {
        margin-bottom: 60px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .category-desc{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .article__img {
        display: block;
        margin: 0 auto;
    }

    /* modal */
    .modal-dialog {
        position: relative;
        width: 100vw;
        margin: 0;
        padding: 10px;
    }

    .form-group {
        margin-bottom: 15px;
        padding: 0 15px;
    }

    /* footer */
    .footer__menu-lst {
        column-count: 1;
        -moz-column-count: 1;
    }

    .copy {
        margin-bottom: 40px;
    }

    .footer__category-lst__title,
    .footer__menu-lst__title {
        margin-bottom: 30px;
    }

    .footer__category-lst,
    .footer__menu-lst {
        margin-bottom: 40px;
    }

    .footer__category-lst > li > a,
    .footer__menu-lst > li > a,
    .footer__category-lst > li > span,
    .footer__menu-lst > li > span {
        display: inline-block;
        line-height: 30px;
    }

}

@media (max-width: 360px) {

    .header-phones {
        column-count: 1;
        -moz-column-count: 1;
    }

}